@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url(generic/reset.css);
@import url(settings/variables.css);


body {
    background-color: var(--bg-body);
    font-family: "Roboto", sans-serif;
    /* background-color: var(--background-body); */
}



/* ----------------- AREA LOGO DO SITE ----------------- */

.area--logo {
    display: flex;
    align-items: center;
    margin-left: .9rem;
    margin-top:  .9rem;
}


.area-logo-img img {
    width: 97px;
    height: 111px;
    opacity: 0px;
    
}

.area-logo-conteudo  {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    color: var(--text-branco);
}


/* ----------------- AREA CONTEUDO DO SITE ----------------- */

.area--conteudo {
    /* border: 1px solid rgb(118, 245, 0); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.0rem;
    color: var(--text-branco);
}

.area--conteudo-texto  {
    /* border: 1px solid rgb(0, 17, 255); */
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin: 5px;
}

.area--conteudo-texto h1{
    margin-bottom: 2.0rem;
}




/* ----------------- AREA PRINCIPAL DO SITE ----------------- */


.principal-artigo {
    font-size: 1.06rem;
    font-weight: 400;
    line-height: 46.88px;
    text-align: center;
    color: var(--text-branco);
}

.principal--cards {
    /* border: 1px solid rgb(118, 231, 26); */
    width: 1251px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.0rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    
}

.principal--cards-itens {
    /* border: 1px solid rgb(231, 176, 26); */
    margin-bottom: 1.6rem;
}

.principal--cards img {
    border-radius: 1.6 1.6rem;
}

.caixas-conteudo {
    padding: .9rem;
    margin-top: -0.2rem;
    border-left: 2px solid var(--cor-border-left);
    border-bottom-left-radius: .5rem;
}

.caixas-conteudo h4 {
    color: var(--text-branco);
    font-size: 1.25rem;
    margin-bottom: 1.2rem;
}

.caixas-conteudo p {
    font-size: 1.1rem;
    color: var(--text-cinza);

}


/* ----------------- AREA DO FORMULARIO DO SITE ----------------- */

.txt-form {
    font-size: 1.06rem;
    font-weight: 400;
    line-height: 46.88px;
    text-align: center;
    color: var(--text-branco);
    margin: 30px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    /* border: 1px solid rgb(231, 176, 26); */
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-bottom: 5.0rem;
}

input {
    width: 59.2rem;
    padding: 1.9rem 2.4rem;
}

textarea {
    padding: 1.9rem 2.4rem;
    color: var(--text-color);
}

button {
    background-color: var(--background-button);
    color: var(--text-branco);
    padding: 1.4rem;
    border: none;
    cursor: pointer;
    
}




/* @media  (width >= 375px) {
    body{
        background-color: aliceblue;
    }
} */

/* @media  (width <= 768px) {
    body{
        background-color: rgb(0, 136, 255);
    }
} */

@media  (width <= 768px) {

/* --------- AREA LOGO DO SITE --------- */

    .area--logo {
        display: none;
    }

    .area--conteudo {
        display: flex;
        flex-direction: column-reverse;
    }

    .area--conteudo-texto {
        text-align: center;
    }


    .principal--cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 343px;
    }

    .txt-form {
        font-size: .9rem;
        line-height: 36.88px;
        margin: 20px;
    }

    form {
        gap: 0.9rem;
        }
    
    input {
        width: 29.2rem;
        padding: .9rem 1.4rem;
    }
    
    textarea {
        padding: .9rem 1.4rem;
    }
    
    button {
        padding: 1.0rem;
    }
    

}

@media (width >= 768.1px) and (width <= 1230px) {
    body{
        /* background-color: rgb(214, 139, 180); */
    }
}


/* @media (min-width: 768px) and (max-width: 1199.98px) {

body {
    background-color: aqua;
}

}


@media (width <=576px) and (min-width: 768px) {

    body {
        background-color: rgb(255, 255, 255);
    }
    
} */
    




























/* ----------------- GRADES DO SITES ----------------- */
/* 
.conteudoPrincipal {
    width: 800px;
   
    margin-left: auto;
    margin-right: auto;
}

.conteudoPrincipal ul {
    width: 100%
    
}

.conteudoPrincipal li {
    list-style: none;
    display: inline-block;
    width: 250px;
    /
    border-radius: 20px;
    
}

.caixas-mrleft {
    margin-left: 20px;
}

.caixas img {
    width: 100%;
    border-radius: 20px;
   
    
}

.caixas-conteudo {
    border-left: 1px solid #10dffa;
    border-radius: 4px 4px 0px 0px;
}

.caixas-conteudo h4 {
    font-size: 18px;
    color: #ffff;
    margin-top: 15px;
    padding: 10px;
 
}

.caixas-conteudo p {
    font-size: 18px;
    color: #828282;
    margin-top: 15px;
    padding: 10px;
} */