@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url(generic/reset.css);
@import url(settings/variables.css);


body {
    background-color: var(--bg-body);
    font-family: "Roboto", sans-serif;
}



/* ----------------- AREA LOGO DO SITE ----------------- */

.area--logo {
    display: flex;
    align-items: center;
    margin-left: .9rem;
    margin-top:  .9rem;
}


.area-logo-img img {
    width: 97px;
    height: 111px;
    opacity: 0px;
    
}

.area-logo-conteudo  {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    color: var(--text-branco);
}


/* ----------------- AREA CONTEUDO DO SITE ----------------- */

.area--conteudo {
    /* border: 1px solid rgb(118, 245, 0); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.0rem;
    color: var(--text-branco);
}

.area--conteudo-texto  {
    /* border: 1px solid rgb(0, 17, 255); */
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin: 5px;
}

.area--conteudo-texto h1{
    margin-bottom: 2.0rem;
}




/* ----------------- AREA PRINCIPAL DO SITE ----------------- */


.principal-artigo {
    font-size: 1.06rem;
    font-weight: 400;
    line-height: 46.88px;
    text-align: center;
    color: var(--text-branco);
}

.principal--cards {
    /* border: 1px solid rgb(118, 231, 26); */
    width: 1251px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.0rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    
}

.principal--cards-itens {
    /* border: 1px solid rgb(231, 176, 26); */
    margin-bottom: 1.6rem;
}

.principal--cards img {
    border-radius: 1.6 1.6rem;
}

.caixas-conteudo {
    padding: .9rem;
    margin-top: -0.2rem;
    border-left: 2px solid var(--cor-border-left);
    border-bottom-left-radius: .5rem;
}

.caixas-conteudo h4 {
    color: var(--text-branco);
    font-size: 1.25rem;
    margin-bottom: 1.2rem;
}

.caixas-conteudo p {
    font-size: 1.1rem;
    color: var(--text-cinza);

}


/* ----------------- AREA DO FORMULARIO DO SITE ----------------- */

.txt-form {
    font-size: 1.06rem;
    font-weight: 400;
    line-height: 46.88px;
    text-align: center;
    color: var(--text-branco);
    margin: 30px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    /* border: 1px solid rgb(231, 176, 26); */
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-bottom: 5.0rem;
}

input {
    width: 59.2rem;
    padding: 1.9rem 2.4rem;
}

textarea {
    padding: 1.9rem 2.4rem;
    color: var(--text-color);
}

button {
    background-color: var(--background-button);
    color: var(--text-branco);
    padding: 1.4rem;
    border: none;
    cursor: pointer;
    
}

/* ----------------- BREAKPOINTS CSS DO SITE ----------------- */


@media (min-width: 500px) and (max-width: 845px){
    /* body {
        background-color: blueviolet;
    } */

/* --------- AREA LOGO DO SITE --------- */

    .area--logo {
        display: none;
    }

    .area--conteudo {
        display: flex;
        flex-direction: column-reverse;
    }

    .area--conteudo-texto {
        text-align: center;
    }

/* ----------------- AREA PRINCIPAL DO SITE ----------------- */

    .principal-artigo {
        margin-top: 3.6rem;
        /* text-align: start; */
    }

    .principal--cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 343px;
    }

    .txt-form {
        font-size: .9rem;
        line-height: 36.88px;
        margin: 20px;
    }

/* --------- AREA DO FORMULARIO DO SITE --------- */

    form {
        gap: 0.9rem;
        }
    
    input {
        width: 29.2rem;
        padding: .9rem 1.4rem;
    }
    
    textarea {
        padding: .9rem 1.4rem;
    }
    
    button {
        padding: 1.0rem;
    }
    

}

@media (min-width: 845.1px) and (max-width: 1246px) {
    /* body{

        background-color: rgb(82, 223, 47);
    } */

/* --------- AREA LOGO DO SITE --------- */

    .area--logo {
        display: none;
    }

    .area--conteudo {
        display: flex;
        flex-direction: column-reverse;
    }

    .area--conteudo-texto {
        text-align: center;
    }

    

/* --------- AREA PRINCIPAL DO SITE --------- */


    .principal-artigo {
        margin-top: 3.6rem;
        /* text-align: start; */
    }

    .principal--cards {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        width: 710px;
        margin-left: auto;
        margin-right: auto;
    }

/* --------- AREA DO FORMULARIO DO SITE --------- */

    .txt-form {
        font-size: 1.3rem;
        line-height: 46.88px;
        margin: 25px;
    }

    form {
        gap: 1.3rem;
        }
    
    input {
        width: 39.2rem;
        padding: 1.3rem 1.8rem;
    }
    
    textarea {
        padding: 1.3rem 1.8rem;
    }
    
    button {
        padding: 1.4rem;
    }

}